/* encabezado */
.main-header{
    background-color: var(--color-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* navegacion oculta o en bloque */
.main-nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.main-nav a.active{
    color: var(--color-primary);
    font-weight: bold;
}

.header-actions{
    display: flex;
    gap: 0.8rem;
}

.action-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* baner principal */

.hero-section {
    background-color: var(--color-bg-light);
    padding: 4rem 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.hero-content h1{
    font-size: 2.2rem;
    color: var(--color-text-dark);
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #555;
}

/* cuadricula de productos */
.featured-procts{
    max-width: 1200px;
    margin: 4rem;
    padding: 0 1.5rem;
}

.section-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: var(--color-text-dark);
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

/* --- DISEÑO DE PAGINA DEL CATALOGO --- */
.max-width-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1.5rem;
}

/* separa la barra lateral */
.catalog-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Barra Lateral (Se queda fija) */
.filters-sidebar {
    background-color: #fafafa;
    padding: 1.5rem;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    height: fit-content;
}

.filter-group {
    margin-top: 1.5rem;
}

.filter-group label {
    display: block;
    margin: 0.5rem 0;
    cursor: pointer;
    font-size: 0.95rem;
}

.catalog-main {
    flex-grow: 1;
}

/* Buscador */
.search-bar-container {
    margin-bottom: 2rem;
}

.search-input {
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: var(--color-primary);
}

.catalog-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem;
    margin-bottom: 3rem;
}

/*para Tablet y Escritorio*/
@media (min-width: 600px) {
    .catalog-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 900px) {
    .catalog-layout {
        flex-direction: row; 
    }
    .filters-sidebar {
        width: 250px;
        position: sticky;
        top: 90px;
    }
    .catalog-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/*VISTA SOBRE NOSOTROS*/

/* Estructura de Historia */
.about-history {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 4rem 0;
}

.history-text {
    flex: 1;
}

.history-text h2 {
    font-size: 2.2rem;
    color: var(--color-text-dark);
    margin-bottom: 1.5rem;
}

.history-text p {
    margin-bottom: 1rem;
    color: #555;
}

.history-image-placeholder {
    flex: 1;
    background-color: var(--color-bg-light);
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    border-radius: 8px;
}

/* Distribución de Principios */
.principles-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
}

/* Desplazamiento horizontal fluido*/
.testimonial-carousel {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 1rem 0;
    scrollbar-width: thin; 
}

/* Adaptación a pantallas */
@media (min-width: 768px) {
    .about-history {
        flex-direction: row; 
    }
    .principles-container {
        flex-direction: row;
    }
}
