/* variables con los colores */
:root {
    --color-primary: #3b82f6;       
    --color-primary-dark: #1d4ed8;  
    --color-bg-light: #f8fafc;      
    --color-text-dark: #1f2937;     
    --color-white: #ffffff;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* reset tecnico*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-main);
    background-color: var(--color-white);
    color: var(--color-text-dark);
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}